.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.topic-container {
	display: flex;
	height: 100;
}
.input-box {
  width: 125px;
  margin-right: 10px;
}

.submit-button {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 40px;
  line-height: 10px;
  background-color: #7ea566;
  color: white;
}
