.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.topics-container {
	display: flex;
  align-items: center;
  height: 50px;
}

.input {
  border-radius: 10px;
  background-color: #bad6b1;
}

.input-box {
  width: 125px;
  height: 20px;
  margin-right: 10px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
}

.submit-button {
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-size: 20px;
  line-height: 10px;
  background-color: #7ea566;
  color: white;
}
