.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.topic-container {
	display: flex;
}

.input-box {
  width: 125px;
  margin-right: 10px;
}

.submit-button {
  margin-right: 10px;
}
