.topic {
	margin-right: 10px;
}

.remove-button {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  line-height: 10px;
  font-size: 50px;
  background-color: #db8585;
  color: white;
}